## String

In [1]:
username = "budi"
print(username)
print(username.title())
print(username.upper())
print(username.lower())
print(len(username))

budi
Budi
BUDI
budi
4

In [2]:
first = "Budi"
last = "susilo"

print("Fullname:", first, last)
print("Fullname: " + first + " " + last)
print(f"Fullname: {first} {last}")

Fullname: Budi susilo
Fullname: Budi susilo
Fullname: Budi susilo

In [3]:
given = 'William'
middle = 'Sealy'
family = 'Gosset'

# Output 1
# William Sealy Gosset
print(given, middle, family)

# Output 2
# Gosset, Wiliiam Sealy
print(family + ", " + given + " " + middle)

William Sealy Gosset
Gosset, William Sealy

## Casting

In [4]:
not_number = '123'
type(not_number)
## not_number + 100 : SALAH HARUS DI CASTING
int(not_number) + 100

223

In [5]:
not_float = '3.14159'
print(type(not_float))
print(float(not_float) + 100)

<class 'str'>
103.14159

In [6]:
try:
    int(not_float)
except ValueError:
    print("Error!")

Error!

In [7]:
number = 10

try:
    guess = int(input("Enter your guess number: "))
except:
    print("Error!")
else:
    if guess == number:
        print("Nice!")
    else:
        print("Nice Try!")
finally:
    print("done.")

Enter your guess number:  3

Nice Try!
done.

## Times

In [8]:
import pandas as pd

In [9]:
time = pd.Timestamp('06:30:00')
type(time)

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
date_of_birth = pd.Timestamp('August 20, 2000')
date_of_birth

Timestamp('2000-08-20 00:00:00')

In [11]:
now = pd.Timestamp('2024-08-20 11:23:36.336923')

In [12]:
age = now - date_of_birth
age

Timedelta('8766 days 11:23:36.336923')

## Representing Location

In [13]:
lat = 42.3601
lon = -71.0589
boston = lat, lon
boston

(42.3601, -71.0589)

In [14]:
import numpy as np

theta = 1
np.sin(theta/2)**2

0.22984884706593015

In [15]:
def haversine(theta):
    return np.sin(theta/2)**2

In [16]:
haversine_lamb = lambda theta : np.sin(theta/2)**2

In [17]:
haversine(1)

0.22984884706593015

In [18]:
haversine_lamb(1)

0.22984884706593015

## Contoh Diskriminan

In [19]:
def diskriminan(a, b, c):
    return b ** 2 - 4 * a * c
diskriminan_lamb = lambda a, b, c : b ** 2 - 4 * a * c

In [20]:
diskriminan(1, 2, 3)

-8

In [21]:
diskriminan_lamb(1, 2, 3)

-8

## Menghitung 2 titik koordinat

In [28]:
def haversine_distance(coord1, coord2):
    R = 6372.8 # Earth radius in km
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    phi1, phi2 = np.radians(lat1), np.radians(lat2)
    dphi = np.radians(lat2 - lat1)
    dlambda = np.radians(lon2 - lon1)

    a = haversine(dphi) + np.cos(phi1) * np.cos(phi2) * haversine(dlambda)

    distance = 2 * R * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    return distance

In [29]:
london = 51.5074, -0.1278

haversine_distance(boston, london)

5265.656325981015